<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h1>Welcome to Bookers !!</h1>
    </div>
  </div>
  <div class="row justify-content-center"> 
    <div class="col-md-7">
      <p>
      In Bookers <br>
      you can share and exchange your opinions, impressions, and emotions<br>
      about various books!
      </p>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-3">
      <%= link_to "Log in", new_user_session_path %>
    </div>
    <div class="col-md-3">
      <%= link_to "Sign in", new_user_registration_path %>
    </div>  
  </div>
</div>